<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Ceasar Cipher in Sinatra</title>
    </head>
    <body>
        <div class="container">
            <h1>Frank Sinatra's Cipher</h1>
            <h2>Enter your text below and choose a Sinatra Cipher</h2>
                <form>
                    <input type='text' name='message' />
                    <input type='submit' value='Write Message Here' />
                </form>
            <h2><%= message %></h2>
        </div>
    </body>
</html>