<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Ceasar Cipher in Sinatra</title>
    </head>
    <body>
        <div class="container">
            <h1>Frank Sinatra's Cipher</h1>
            <h2>Enter your text below and choose a Sinatra Cipher</h2>
                <form>
                    "What's your message?"
                    <input type='text' name='message' value='Write Your Message Here!' />
                    "How far do you want to shift the cipher?"
                    <input type="number" name="steps" min="-26" max="26" step="1"
                    value="0" />
                    <input type='submit' name='output' value='Submit' />
                </form>
            <h2><%= output %></h2>
        </div>
    </body>
</html>